.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  gap: 40px;
  padding: 300px 15%;

  p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    width: 40%;
  }

  h1 {
    color: #fff;
    font-size: 64px;
    font-weight: 600;
    line-height: 70px; /* 93.75% */
    width: 70%;
  }
}

@media (max-width: 1025px) {
  .wrapper {
    height: 80vh;

    p {
      font-size: 14px;
    }

    h1 {
      font-size: 44px;
      line-height: 50px; /* 93.75% */
    }
  }
}

@media (max-width: 769px) {
  .wrapper {
    height: 90vh;

    p {
      font-size: 14px;
      width: 70%;
    }

    h1 {
      font-size: 34px;
      line-height: 35px; /* 93.75% */
      width: 100%;
    }
  }
}

@media (max-width: 426px) {
  .wrapper {
    height: 90vh;

    p {
      font-size: 14px;
      width: 100%;
    }

    h1 {
      font-size: 26px;
      line-height: 30px; /* 93.75% */
    }
  }
}
