.menubar {
  background: white;
  z-index: 10;
  padding: 50px 7% 0px 7%;

  .bottom {
    padding-left: 7%;
    padding-top: 2%;
    // flex-direction: row;

    .mobile {
      display: none;
    }
  }
}

.menu {
  font-size: 54px;
  color: black;
  position: relative;
  display: flex;
  align-items: center;
}
.menu:before {
  content: "";
  display: inline-block;
  width: 0px;
  height: 2px;
  background: #000;
  transition: 0.2s;
}
.menu:hover::before {
  content: "";
  display: inline-block;
  width: 60px;
}

.menuActive {
  font-size: 54px;
  font-weight: 600;
  color: black;
  position: relative;
  display: flex;
  align-items: center;
  transition: 0.2s;
}
.menuActive::before {
  content: "";
  display: inline-block;
  width: 120px;
  height: 4px;
  background: #000;
  margin-right: 20px;
  transition: 0.2s;
}

@media (max-width: 1025px) {
}

@media (max-width: 769px) {
  .menubar {
    padding: 50px;

    .bottom {
      padding-left: 0px;
      padding-top: 0px;

      .desktop {
        display: none;
      }

      .mobile {
        display: flex;
      }
    }
  }

  .menu {
    font-size: 45px;
  }
  .menu:before {
    height: 2px;
  }
  .menu:hover::before {
    width: 60px;
  }
  .menuActive {
    font-size: 45px;
  }
  .menuActive::before {
    width: 60px;
    height: 2px;
  }
}
@media (max-width: 426px) {
  .menu {
    font-size: 27px;
    margin-bottom: 10px;
  }
  .menu:before {
    height: 2px;
  }
  .menu:hover::before {
    width: 30px;
  }
  .menuActive {
    font-size: 27px;
    margin-bottom: 10px;
  }
  .menuActive::before {
    width: 30px;
    height: 2px;
  }
}
